.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  color: white;
  background-color: tomato;
  font-weight: 600;
}


.badge__dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  color: white;
  background-color: tomato;
  font-weight: 600;
}
